@use "../utils" as u;

.title {
  text-align: center;
  text-transform: capitalize;
  @include u.inViewSlideEffect(up);

  .small {
    font-size: clamp(3.3rem, 4.8vw, 5rem);
    font-weight: 700;
    margin-bottom: -7.3rem;
  }

  .large {
    font-size: clamp(6rem, 9.6vw, 10.2rem);
    font-weight: 900;
    color: #ffffff1f;
    white-space: nowrap;
  }
}
